.container {
	/*background-image: url(Swing-Dance-image.jpg);*/
	background-size: 100% 100%;
  transition: background 2s linear;

}

.btn {
	margin-bottom: 20px;
}

table {
	background-color: white;
}

.bg-success {
	border-radius: 25px;
}
