.container {
  transition: background 1.5s linear;
  background-size:     cover;                 
  background-repeat:   no-repeat;
  background-color: grey;
  color:#B02943;

}

.btn {
	margin-bottom: 20px;
  background-color:#B02943;
  border:0px;
}

table {
	background-color: white;
}

.bg-success {
	border-radius: 25px;
}

#start-screen, #search-page {
}
