.container {
  transition: background 1.5s linear;
  background-size:     cover;                 
  background-repeat:   no-repeat;
  background-color: rgba(166, 171, 165, 1);
  color:#B02943;
  background:opacity(.3);
}

.btn {
	margin-bottom: 20px;
  background-color:#B02943;
  border:0px;
}

table {
	background-color: white;
}

.bg-success {
	border-radius: 25px;
}

h1, h2, h3 {
  -webkit-text-stroke: 1px black;
}